[submodule "wp-content/plugins/redux-framework"]
	path = wp-content/plugins/redux-framework
	url = git@github.com:ReduxFramework/redux-framework.git
[submodule "wp-content/plugins/wordpress-importer"]
	path = wp-content/plugins/wordpress-importer
	url = git@github.com:wp-plugins/wordpress-importer.git
[submodule "wp-content/plugins/acf"]
	path = wp-content/plugins/acf
	url = git@github.com:elliotcondon/acf.git
[submodule "wp-content/plugins/google-analytics-for-wordpress"]
	path = wp-content/plugins/google-analytics-for-wordpress
	url = git@github.com:Yoast/google-analytics-for-wordpress.git
[submodule "wp-content/plugins/wordpress-seo"]
	path = wp-content/plugins/wordpress-seo
	url = git@github.com:Yoast/wordpress-seo.git
