[submodule "wp-content/plugins/polylang"]
	path = wp-content/plugins/polylang
	url = git@github.com:wp-plugins/polylang.git
[submodule "wp-content/plugins/footnotes"]
	path = wp-content/plugins/footnotes
	url = git@github.com:wp-plugins/footnotes.git
[submodule "wp-content/plugins/redux-framework"]
	path = wp-content/plugins/redux-framework
	url = git@github.com:ReduxFramework/redux-framework.git
[submodule "wp-content/plugins/wordpress-importer"]
	path = wp-content/plugins/wordpress-importer
	url = git@github.com:wp-plugins/wordpress-importer.git
[submodule "wp-content/plugins/wordpress-mu-domain-mapping"]
	path = wp-content/plugins/wordpress-mu-domain-mapping
	url = git@github.com:wp-plugins/wordpress-mu-domain-mapping.git
