/*
 Theme Name:   Ethnologist
 Theme URI:    http://ethnologis.info/
 Description:  Ethnologist is a Pinnacle Child Theme
 Author:       Jakub Zelenka
 Author URI:   http://bukka.eu
 Template:     pinnacle
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         responsive-layout, two-columns, one-column, custom-colors, custom-header, custom-menu, featured-images, translation-ready, theme-options
*/

#logo a {
	font-weight: bold !important;
	text-transform: uppercase;
}
.home-page-title {
	font-weight: bold;
	font-size: 120px;
	line-height: 120px;
	text-transform: uppercase;
}
.home-page-subtitle {
	font-size: 22px !important;
}
.home-page-header {
	padding-top: 180px;
	padding-bottom: 180px;
}
.entry-content {
	font-size: 15px;
}
.entry-content .footnote_plugin_tooltip_text {
    vertical-align: top !important;
    position: relative !important;
    top: 6px !important;
    cursor: pointer;
    color: #f3690e;
}
.entry-content .footnote_container_prepare > p {
    border-bottom: 1px solid #eee !important;
}
.entry-content .footnote_plugin_index {
    color: #f3690e;
}
.entry-content .footnote-reference-container {
    width: 100%;
    border: none;
    margin: 20px 0 10px;
}
#map_address {
	height: 300px;
}
.titleclass-nobg {
	background: #444;
}
.contact-info-field {
	padding-top: 20px
}
.page-header {
	padding: 170px 0;
}
#content .interview {
	padding-top: 0 !important;
}
#content .interview p {
	text-align: justify;
}
.ethnologist-interview-content img.alignleft {
	margin-right: 10px
}
.ethnologist-template-listing-article footer {
	border-top-width: 0 !important;

}
.gmPhantom_thumbsWrapper {
	width: 100% !important;
}